@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{    
    margin:0;
    padding:0;
}

html{
    box-sizing:border-box;
    font-family: 'Open Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:16px;
}

header{
    width:100%;    
    padding: 5rem 0;
    position:relative;
    z-index: 1;
    top:0;
    background-image: url("../assets/section-background-3.jpg");  
    background-repeat: no-repeat;
    background-position:0 -7rem; 
    background-size:cover ; 
    text-align: center; 
    opacity: .9;
}
nav{
    font-family: Kanit;
    font-weight: 200;
    font-size: 2rem;
    position:fixed;
    top:0;
    z-index: 3;
    width: 100%;
    text-align: center;
    height:3rem;
    background-color: #000;
}
nav a{
    text-decoration: none;
    color:bisque;
    margin:10px 20px;
    padding-top:0;
}
nav a:hover{
    color:#c97d60;
    font-weight: 400;;
}

h1{
    font-family: Kanit;
    font-weight: 200;
    font-size: 6rem;   
}
h2{
    font-family: Kanit;
    font-weight: 200;
    font-size: 4rem;
    color: cornflowerblue;
    margin: 3rem 1rem;
}
section{ 
    width: 100%;
    min-height:10rem;
    text-align: center;
}
section>div{    
    padding:3rem;    
    width:60vw;
    margin:auto;
}
section hr{
    border: 1px dashed rgb(17, 238, 135);
    width: 65%;
    box-shadow: 0px 2px 4px orangered;
}
p{
    font-size: 1.3rem; 
    color: #888;
    line-height: 1.8;
    text-align:left;
    margin-left:2rem;
    margin-top: 0;

}
.flex-container{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row 
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#intro{
    background-color: transparent;
    margin:3rem auto;
    width:45%;
    text-align: center;
    z-index: 2;
}
#intro h1, #intro h2{
    margin:.5rem;
    line-height: 1;
    color:#f17746;
    text-shadow: -4px 4px 8px #000;
}
#intro .skills{
    width:60%;
    margin:auto;
    text-shadow: -2px 2px 4px #000;
    }

.skills ul li{
    font-size: 1.3rem; 
    color: #E4FDE1;
    line-height: 2;
    text-align:left;
    margin-left:1.5rem;
}

#intro .down svg{
    width:5rem;
    height:5rem;
    color: #f17746;
    margin:2rem auto;     
}3

.overlay{
    background-image: url("../assets/section-background-3.jpg");  
    background-position: 0 -10vh;    
    text-align: center;    
    margin:0;
    height:65vh; 
    background-size:cover ; 
    opacity: .9;
    position:relative;
    z-index: 1;
    top:0px;    
}
#about .mypic img{
    -webkit-order: -1;
    order: -1;
    width:20rem;
    box-shadow: -6px 6px 10px #888;
    border-radius: 15px;
}

